<h1>Pirate</h1>

<h2>Name: <%= @pirate.name %></h2>
<h2>height: <%= @pirate.height %></h2>
<h2>Weight: <%= @pirate.weight %></h2>

<h2>Ships</h2>
<%= @ships.all do |ship| %>
  <h2>Name: <%= ship.name %></h2>
  <h2>Type: <%= ship.type %></h2>
  <h2>Booty: <%= ship.booty %></h2>
<%= end %>
